<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Patrice Mauget - Loup-garou, le monstre du Médoc{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="http://monstredumedoc.localhost/app_dev.php/web/bundles/vmblog/css/bootstrap.min.css">
      
    </head>
    
<body>
    
    <p>
      <img src= {{ user.photoPath }} />Bonjour {{ user.realname }},
      Heureux de vous avoir comme membre sur le site Loup-Garou, le monstre du Médoc.
    </p>

    <div class="panel panel-info"> 
        <div class="panel-heading">
             Vos identifiants de connexion :
        </div>

        <div class="panel-body">        
            <p>LOGIN : {{ user.username }}</p>

            <p>MOT DE PASSE : {{ user.password }}</p>
        </div>
  </div>        

    <p>
       Vous pouvez désormais vous connecter en allant sur notre site :
       
       <a href="{{url_site}}">{{ url_site }}</a>
    </p>
    

    <p>
       En vous disant à bientôt.
       Cordialement,
     </p>      
      
        <address>
            {{ webmaster_nom }}
            Responsable du site {{ site_nom }}
        </address>

</body></html>    