{% extends "::base.html.twig" %}

        
{% block body %}

<div class="panel panel-info"> 
      <div class="panel-heading">
          <table><tr>
          <td><div style="float:left;" class='thumbnail'>
          <img align="center" width=30 src="{{ asset(app.user.photoPath) }}" />
        </div>
          INFORMATIONS PROFIL {{ app.user.username  }}
          </td></tr></table>
          </div>
      
          <div class="panel-body">
              
              <ul class="nav nav-tabs">
                <li class="active"><a href="#infos" data-toggle="tab">Mes caractéristiques</a></li>
               <li><a href="#comment" data-toggle="tab">Mes commentaires</a></li>
             </ul>
              
              <div class="tab-content">
                  <div class="tab-pane active" id="infos">
          <ul>
  {#<li>Identifiant : {{ app.user.username  }} </li>#}
  
  <li><b>Nom/prénom  :</b>{% if app.user.realname|length > 0 %} {{ app.user.realname  }} {%else%} non renseigné{% endif %}</li>
 
  <li>   <b>  Sexe :</b> {% if app.user.sexe|length > 0 %}       {{ app.user.sexe  }}    {%else%} non renseigné{% endif %}</li> 
 
  <li> <b> Age  :</b> {% if app.user.age > 0 %}          {{ app.user.age   }}     {%else%} non renseigné{% endif %}</li>
 
  <li> <b>Ville :   </b> {% if app.user.ville|length > 0 %}      {{ app.user.ville  }}    {%else%} non renseigné{% endif %}</li>
 
  <li><b> Email :</b>{% if app.user.email|length > 0 %}          {{ app.user.email  }}    {%else%} non renseigné{% endif %}</li>
  </ul>
                    </div>
        
              
              <div class="tab-pane" id="comment">
                {% if commentaires is empty %} Vous n'avez saisi aucun commentaire {% endif %}  
                {% for key,com in commentaires %}
                      <p><b>Commentaire n°{{key+1}} :</b>{{ com.contenu }}</p>
                  {% endfor %}
                 
                      
              </div>
          </div>
              </div>
        </div>
           <a onclick="javascript:history.back();" href="#">Retour</a>   

{% endblock body%}
