{% extends "VMBlogBundle::base.html.twig" %}

{% block vmblog_stylesheet %}
     {{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/vmblog/css/commentaire.css') }}" type="text/css" media="all" />
{% endblock %}                

{% block vmblog_body %}
 
{% for message in app.session.flashbag.get('info') %} 
    {{ message }}
{% endfor %}
    
<div id="formulaire">
     {#<a href="#" class="btn btn-info" id="ajouter_commentaire" >Ajouter</a>#}
     {#{% render(controller('VMBlogBundle:Commentaire:ajoutcommentaire')) %}   #}
        {% if form is defined %}

            <form class="form-inline" method="post" action="{{ path('vm_blog_commentaire_list') }}" {#{% if commentaire is defined %}{{ path('vm_blog_commentaire_edit', {'id':commentaire.id}) }}{% else %}{{ path('vm_blog_commentaire_list') }}{% endif %}"#} {{ form_enctype(form) }}>
               <div class="form-group">{{ form_widget(form.auteur, { 'attr': {'class': 'form-control', 'placeholder': 'Auteur'} }) }}</div>
               <div class="form-group">{{ form_widget(form.contenu, { 'attr': {'class': 'form-control input-sm', 'placeholder':'Commentaire'} }) }}</div>
             <input type="submit" class="btn btn-default" />
             {#<input type="button" value="annuler"  onclick="document.location='/app_dev.php/commentaire/1'" class="btn btn-primary" />#}
           </form>
        {% endif %}
</div> 
      
 <div id="liste_commentaire">
 
{% if entities is not empty %}
 
    {% for key, entity in entities %}

          <div class="row" id={{entity.id}}>
           <div id="operations" class="input-group input-group-sm">
                <!--<textarea rows=10 id="montrer_commentaire" class="form-control input-xlarge" readonly>
                    
                   </textarea> -->
                   <span class="input-xlarge uneditable-input" class="form-control">{{ entity.contenu }}</span>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" id={{entity.id}}>
                        <li id="edit"><a href="#" rel="popover" id="editer_commentaire">Modifier</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="supprimer_commentaire">Supprimer</a></li>
                    </ul>
                </div><!-- /btn-group -->

            </div>
            
          </div>

     {% endfor %}

{% else %}
     
    Résultat vide
    
 {% endif %}
 
{% if last_page > 1 %}
    <div class="">
     <ul class="pagination">
        <li>
           <a href="{{ path('vm_blog_commentaire_list', { 'page': 1 }) }}"> <span> << </span> </a> <a href="{{ path('vm_blog_commentaire_list', { 'page': previous_page }) }}"><span> < </span> </a>
        </li>

     {% for page in 1..last_page %}
       
        {% if page == current_page %}
           <li class="active"><a href="#">{{ page }}</a></li>
       {% else %}
           <li>
               <a href="{{ path('vm_blog_commentaire_list', { 'page': page }) }}">{{ page }}</a>
            </li>
       {% endif %}
          
   {% endfor %}
   <li>
      <a href="{{ path('vm_blog_commentaire_list', { 'page': next_page }) }}"> <span> > </span></a> <a href="{{ path('vm_blog_commentaire_list', { 'page': last_page }) }}"> <span> >> </span></a>
   </li>
    </ul>
       </div>
 {% endif %}
<div class="pagination_desc"><strong>{{ total_commentaires }}</strong> commentaires dans la page
 {% if last_page > 1 %}
 - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %}</div>
</div>
</div>

<script language="javascript" type="text/javascript">
       $(document).ready(function() {   
          $("body").on("click", "#editer_commentaire", (function()
          {
           var identifiant = parseInt($(this).parent().parent().attr("id"));
            
            $.ajax({
               type: "POST",
               url: Routing.generate('vm_blog_commentaire_edit', { id: identifiant }),
               cache:false,
               success: function(data)
               {
               $("#formulaire").html(data);
               }
             });
            
          }));
          
              
          $("body").on("click", "#supprimer_commentaire", (function()
          { 
            if (confirm("Souhaitez-vous réellement supprimer ce commentaire ?")) 
            {
                var identifiant = parseInt($(this).parent().parent().attr("id"));
                $.ajax({
                   type: "POST",
                   url: Routing.generate('vm_blog_commentaire_supprime', { id: identifiant }),
                   cache:false,
                   success: function(data)
                   {
                    alert("Commentaire supprimé");
                    $("div#"+identifiant).remove();
                }
                 });
             }
             
          }));
        
    });
</script>    

{% endblock %}


