{% extends "VMBlogBundle::base.html.twig" %}

{% block vmblog_body %}
 
<div class="">Commentaires
     {#<a href="#" class="btn btn-info" id="ajouter_commentaire" >Ajouter</a>#}
     {% include 'VMBlogBundle:Commentaire:formulaire.html.twig' with {'form': form} %}   
  
<div id=""><ul>
 {% if entities is not empty %}
 {% for key, entity in entities %}

 <ul style="list-style-type:none;">
    <li id={{entity.id}}>
        <a href="#">{{ entity.auteur }} : {{ entity.contenu }}</a>
        {#<a href="#" class="btn " id="montrer_commentaire">Montrer</a>#}
        <a href="#" class="btn " id="editer_commentaire"> <i class="icon-edit"></i>Editer</a>
        <a href="#" class="btn " id="supprimer_commentaire"> <i class="icon-trash"></i>Supprimer</a>
     </li>
</ul>
        
 {% endfor %}
 {% else %}
 Résultat vide
 {% endif %}
 {% if last_page > 1 %}
<div class="">
 <a href="{{ path('vm_blog_commentaire_list', { 'page': 1 }) }}"> <span> << </span> </a> <a href="{{ path('vm_blog_commentaire_list', { 'page': previous_page }) }}"><span> < </span> </a>
<ol>
<ol>{% for page in 1..last_page %}</ol>
</ol>
<ol>
<ol>{% if page == current_page %}</ol>
</ol>
<ol>
<ol>
    <li>{{ page }}</li>
</ol>
</ol>
<ol>
<ol>{% else %}</ol>
</ol>
<ol>
<ol>
    <li><a href="{{ path('vm_blog_commentaire_list', { 'page': page }) }}">{{ page }}</a></li>
</ol>
</ol>
<ol>
<ol>{% endif %}</ol>
</ol>
<ol>{% endfor %}</ol>
 <a href="{{ path('vm_blog_commentaire_list', { 'page': next_page }) }}"> <span> > </span></a> <a href="{{ path('vm_blog_commentaire_list', { 'page': last_page }) }}"> <span> >> </span></a></div>
 {% endif %}
<div class="pagination_desc"><strong>{{ total_commentaires }}</strong> commentaires dans la page
 {% if last_page > 1 %}
 - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %}</div>
</div>
</div>

<script language="javascript" type="text/javascript">
       $(document).ready(function() {   
          $.data(document.body, 'popup',0);
         
          $("body").on("click", "#editer_commentaire", (function()
          {
             if ($.data(document.body, 'popup') == 0) 
                  {  
            var identifiant = parseInt($(this).parent().attr("id"));
            $.ajax({
               type: "POST",
               url: Routing.generate('vm_blog_commentaire_edit', { id: identifiant }),
               cache:false,
               success: function(data)
               {
               $("#"+identifiant+" > #editer_commentaire").popover({'content':data,html:true,placement:'bottom'});
               $.data(document.body, 'popup',1);
               $("#"+identifiant+" #editer_commentaire").click();
               }
             });
             }
            else { $.data(document.body, 'popup', 0); }
          }));
          
              
          $("body").on("click", "#montrer_commentaire", (function()
          { 
            if ($.data(document.body, 'popup') == 0) 
                  {
            var identifiant = parseInt($(this).parent().attr("id"));
            $.ajax({
               type: "POST",
               url: Routing.generate('vm_blog_commentaire_show', { id: identifiant }),
               cache:false,
               success: function(data)
               {
               $("#"+identifiant+" >#montrer_commentaire").popover({'delay': { hide:500}, 'title':'Commentaire','trigger':'hover','content':data,html:true,placement:'bottom'});
               $.data(document.body, 'popup',1);
               $("#"+identifiant+" > #montrer_commentaire").mouseover();
               
               }
             });
             }
            else { $.data(document.body, 'popup', 0); }
          }));
          
          $("body").on("click", "#supprimer_commentaire", (function()
          { 
            if (confirm("Souhaitez-vous réellement supprimer ce commentaire ?")) 
            {
                var identifiant = parseInt($(this).parent().attr("id"));
                $.ajax({
                   type: "POST",
                   url: Routing.generate('vm_blog_commentaire_supprime', { id: identifiant }),
                   cache:false,
                   success: function(data)
                   {
                    alert("Commentaire supprimé");
                   }
                 });
             }
             
          }));
        
    });
</script>    

{% endblock %}


