{% extends "VMBlogBundle::base.html.twig" %}

{% block vmblog_stylesheet %}
     {{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/vmblog/css/commentaire.css') }}" type="text/css" media="all" />
{% endblock %}                

{% block vmblog_body %}
 
<div class="">
     {#<a href="#" class="btn btn-info" id="ajouter_commentaire" >Ajouter</a>#}
     {% include 'VMBlogBundle:Commentaire:formulaire.html.twig' with {'form': form} %}   
  
 <div id="liste_commentaire">
 
{% if entities is not empty %}
 
    {% for key, entity in entities %}


        <div class="row" id={{entity.id}}>
           <div id="operations" class="input-group input-group-sm">
                <input style="cursor:pointer;" type="text" rel="popover" id="montrer_commentaire" class="form-control input-lg" readonly value="{{ entity.contenu | truncate(115,true,'[...]') }}" placeholder="Commentaire">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" id={{entity.id}}>
                        <li id="edit"><a href="#" rel="popover" id="editer_commentaire">Modifier</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="supprimer_commentaire">Supprimer</a></li>
                    </ul>
                </div><!-- /btn-group -->

            </div>
            
          </div>

     {% endfor %}

{% else %}
     
    Résultat vide
    
 {% endif %}
 
{% if last_page > 1 %}
    <div class="">
     <ul class="pagination">
        <li>
           <a href="{{ path('vm_blog_commentaire_list', { 'page': 1 }) }}"> <span> << </span> </a> <a href="{{ path('vm_blog_commentaire_list', { 'page': previous_page }) }}"><span> < </span> </a>
        </li>

     {% for page in 1..last_page %}
       
        {% if page == current_page %}
           <li class="active"><a href="#">{{ page }}</a></li>
       {% else %}
           <li>
               <a href="{{ path('vm_blog_commentaire_list', { 'page': page }) }}">{{ page }}</a>
            </li>
       {% endif %}
          
   {% endfor %}
   <li>
      <a href="{{ path('vm_blog_commentaire_list', { 'page': next_page }) }}"> <span> > </span></a> <a href="{{ path('vm_blog_commentaire_list', { 'page': last_page }) }}"> <span> >> </span></a>
   </li>
    </ul>
       </div>
 {% endif %}
<div class="pagination_desc"><strong>{{ total_commentaires }}</strong> commentaires dans la page
 {% if last_page > 1 %}
 - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %}</div>
</div>
</div>

<script language="javascript" type="text/javascript">
       $(document).ready(function() {   
          $.data(document.body, 'popup',0);
         
          $("body").on("click", "#editer_commentaire", (function()
          {
             if ($.data(document.body, 'popup') == 0) 
                  {  
            var identifiant = parseInt($(this).parent().parent().attr("id"));
            $.ajax({
               type: "POST",
               url: Routing.generate('vm_blog_commentaire_edit', { id: identifiant }),
               cache:false,
               success: function(data)
               {
               $("#"+identifiant+"> #edit > #editer_commentaire").popover({'content':data,html:true,placement:'bottom'});
               $.data(document.body, 'popup',1);
               $("#"+identifiant+" #edit > #editer_commentaire").click();
               }
             });
             }
            else { $.data(document.body, 'popup', 0); }
          }));
          
              
          $("body").on("mouseover", "#montrer_commentaire", (function()
          { 
            if ($.data(document.body, 'popup') == 0) 
                {
            var identifiant = parseInt($(this).parent().parent().attr("id"));
            $.ajax({
               type: "POST",
               url: Routing.generate('vm_blog_commentaire_show', { id: identifiant }),
               cache:false,
               success: function(data)
               {
               $("#"+identifiant+"> #operations > #montrer_commentaire").popover({html:true,delay: { show:500,hide:10}, 'title':'Commentaire',trigger:'click','content':data,html:true,placement:'bottom'});
               $.data(document.body, 'popup',1);
               $("#"+identifiant+"> #operations > #montrer_commentaire").click();
               $("#"+identifiant+"> #operations > #montrer_commentaire").mouseout(function ()
                {
                    $(this).popover('destroy'); var int=setInterval(function(){
                    $.data(document.body, 'popup',0);
                    },3000);
                });
               
               }
             });
             }
           // else { $.data(document.body, 'popup', 0); }
          }));
          
          $("body").on("click", "#supprimer_commentaire", (function()
          { 
            if (confirm("Souhaitez-vous réellement supprimer ce commentaire ?")) 
            {
                var identifiant = parseInt($(this).parent().parent().attr("id"));
                $.ajax({
                   type: "POST",
                   url: Routing.generate('vm_blog_commentaire_supprime', { id: identifiant }),
                   cache:false,
                   success: function(data)
                   {
                    alert("Commentaire supprimé");
                    $("div#"+identifiant).remove();
                }
                 });
             }
             
          }));
        
    });
</script>    

{% endblock %}


