{% extends "VMBlogBundle::base.html.twig" %}

               

{% block vmblog_body %}
 
{% block vmblog_stylesheet %}
     {{ parent() }}
     
     {% stylesheets filter='cssrewrite, yui_css'
                '@VMBlogBundle/Resources/public/css/commentaire.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />   
     {% endstylesheets %}

{#<link rel="stylesheet" href="{{ asset('bundles/vmblog/css/commentaire.css') }}" type="text/css" media="all" />#}
{% endblock %} 

{% for message in app.session.flashbag.get('info') %} 
    {{ message }}
{% endfor %}
 
{% if is_granted('ROLE_USER') %}
    <div id="formulaire">
         {#<a href="#" class="btn btn-info" id="ajouter_commentaire" >Ajouter</a>#}
         <div class="row">
                <div class="col-sm-9" style="margin-left:-15px;">
                  {% render(controller('VMBlogBundle:Commentaire:ajoutcommentaire')) %}
                </div>
         </div>        
    </div> 
{% endif %}
      
 <div id="liste_commentaire">
 
{% if entities is not empty %}
     
    {# select pour trier les commentaires par date #}
     <div class="row">
        <div class="pull-right">
            <a href="{{ path('vm_blog_commentaire_list', { tri: 'asc' }) }}">Par  date croissante</a>
            /
            <a href="{{ path('vm_blog_commentaire_list', { tri: 'desc' }) }}" >Par  date décroissante</a>
        </div>
     </div>        
    {% for key, entity in entities %}

          <div class="row" id="{{entity.id}}">
           <div id="operations" class="input-group input-group-sm">
                
                {% if entity.user == app.user %}
                   <div class="panel panel-success">
               {% else %}
                   <div class="panel panel-info">       
               {% endif %}
                       <div class="panel-heading">
                           <table>
                               <tr>
                                   <td>
                                       
                                           <div class='thumbnail'>
                                            <img width="30" src="{{ asset(entity.user.photoPath) }}" />
                                           </div>
                                          
                                   </td>
                                   <td><a href="{{ path('vm_blog_commentaire_user', { 'id': entity.id, 'page' : current_page }) }}"><u>{{ entity.user.username }}</u></a></td>
                                   <td style="text-align:right;" class="col-sm-offset-9 pull-right">
                                       {% if "now" | date("m/d/Y") == entity.date|date("m/d/Y") %}
                                              aujourd'hui à {{ entity.date|date('h:m')}}
                                      {% else %}
                                              Le {{ entity.date|date('d/m/Y à h:m')}}
                                      {% endif %}
                                   </td>
                                   
                                       {% if app.user %}
                    {% if entity.statut == 'modere' %}
                        {% if entity.user == app.user %}
                           <td>
                      <div class="input-group-btn"> 
                         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                          <ul style="margin-top:-70px;" class="dropdown-menu pull-right" id={{entity.id}}>
                            <li id="edit"><a href="#" rel="popover" id="editer_commentaire">Modifier</a></li>
                            <li class="divider"></li>
                            <li><a href="#" id="supprimer_commentaire">Supprimer</a></li>
                        </ul>
                     </div><!-- /btn-group -->
                    
                         {% endif %}
                    {% endif %}
                 {% endif %}
                                   
                               </tr>
                            </table>
                              
                       
                       </div>
                       <div class="panel-body " >{{ entity.contenu }}</div>
                   </div>
                
                   
                   </div>

          
            
          </div>

     {% endfor %}

{% else %}
     
    Il n'y a aucun commentaire
    
 {% endif %}
 
{% if last_page > 1 %}
    <div class="">
     <ul class="pagination">
        <li>
           <a href="{{ path('vm_blog_commentaire_list', { 'page': 1 }) }}"> <span> << </span> </a> <a href="{{ path('vm_blog_commentaire_list', { 'page': previous_page }) }}"><span> Précédent </span> </a>
        </li>

     {% for page in 1..last_page %}
       
        {% if page == current_page %}
           <li class="active"><a href="#">{{ page }}</a></li>
       {% else %}
           <li>
               <a href="{{ path('vm_blog_commentaire_list', { 'page': page }) }}">{{ page }}</a>
            </li>
       {% endif %}
          
   {% endfor %}
   <li>
      <a href="{{ path('vm_blog_commentaire_list', { 'page': next_page }) }}">Suivant</a><a href="{{ path('vm_blog_commentaire_list', { 'page': last_page }) }}"> <span> >> </span></a>
   </li>
    </ul>
       </div>
 {% endif %}
<div class="pagination_desc"><strong>{{ total_commentaires }}</strong> commentaires dans la page
 {% if last_page > 1 %}
 - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %}</div>
</div>
</div>

 
 
 
{% endblock vmblog_body %}


 {% block javascripts %}
      {{ parent() }}
      <script language="javascript" type="text/javascript">
       (function($) {   
          
          $("ul.nav > li#commentaires").addClass('active');
          
          $("body").on("click", "#editer_commentaire", (function()
          {
           var identifiant = parseInt($(this).parent().parent().attr("id"));
            
            $.ajax({
               type: "POST",
               url: Routing.generate('vm_blog_commentaire_edit', { id: identifiant }),
               cache:false,
               success: function(data)
               {
               $("#formulaire").html(data);
               }
             });
            
          }));
          
              
          $("body").on("click", "#supprimer_commentaire", (function()
          { 
            if (confirm("Souhaitez-vous réellement supprimer ce commentaire ?")) 
            {
                var identifiant = parseInt($(this).parent().parent().attr("id"));
                $.ajax({
                   type: "POST",
                   url: Routing.generate('vm_blog_commentaire_supprime', { id: identifiant }),
                   cache:false,
                   success: function(data)
                   {
                    alert("Commentaire supprimé");
                    $("div#"+identifiant).remove();
                }
                 });
             }
             
          }));
        
    }(jQuery));
 </script>   
{% endblock javascripts %}   