{% extends "VMBlogBundle::base.html.twig" %}

{% block vmblog_body %}
 
    {# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }} commentaires
</div>
<table>
<tr>
{# sorting of properties based on query components #}
    <!--<th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>-->
    <th{% if pagination.isSorted('c.auteur') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Auteur', 'c.auteur') }}</th>
    <th{% if pagination.isSorted('c.contenu') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Contenu', 'c.contenu') }}</th>
</tr>

{# table body #}
{% for commentaire in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <!--<td></td>-->
    <td>{{ commentaire.auteur }}</td>
    <td>{{ commentaire.contenu }}</td>
</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div> 
 
{% endblock %}

