{% if form is defined %}

   <form class="form-inline" action="{% if commentaire is defined %}{{ path('vm_blog_commentaire_edit', {'id':commentaire.id}) }}{% else %}{{ path('vm_blog_commentaire_list') }}{% endif %}" method="post" {{ form_enctype(form) }}>
      {#<div class="form-group">{{ form_widget(form.auteur, { 'attr': {'class': 'form-control'} }) }}</div>#}
      <div class="form-group">{{ form_widget(form.contenu, { 'attr': {'class': 'form-control'} }) }}</div>
    <input type="submit" class="btn btn-default" />
    {#<input type="button" value="annuler"  onclick="document.location='/app_dev.php/commentaire/1'" class="btn btn-primary" />#}
  </form>
{% endif %}