<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Patrice Mauget - Loup-garou, le monstre du Médoc{% endblock %}</title>
        {% block stylesheets %}
            {#<link rel="stylesheet" href="{{ asset('bundles/vmblog/css/bootstrap.css') }}" type="text/css" />#}
             <link rel="stylesheet" href="{{ asset('bundles/vmblog/css/bootstrap.min.css') }}" type="text/css" media="screen" />
             <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">-->
        {% endblock %}
        {% block javascripts %}
                {# pour le routage en ajax #}
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/jquery.js') }}"></script>
                {# pour le rendu dynamique en twitter #}
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/popup.js') }}"></script>          
        {% endblock %}  
             <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
          
    </head>
    <body>
      
        <div class="container">
               <!-- En-tête du layout -->
               <div class="page-header">
                   {#<img class="" id="" src="{{ asset('bundles/vmblog/images/image6.jpg') }}" />#}
                   En-tête du site Loup-garou, le monstre du Médoc
                    
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                       <div class="col-sm-offset-8 col-sm-4">
                       Bonjour <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a> - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                       
                       </div>
                      {% else %}
                        {% render(controller('FOSUserBundle:Security:login')) %}
                           {#Nouveau ? <a style="cursor: pointer;"  rel="popover" title="INSCRIPTION MEMBRE" href="#" id="registre">Inscrivez-vous</a> #}         
                  {% render(controller('FOSUserBundle:Registration:register')) %}
                        <div class="col-sm-offset-11 col-sm-1">
                            
                       {#<a href="{{ path('fos_user_security_login') }}">Connexion</a>#}
                        </div>
                      {% endif %}
               </div>
               
               <!-- Bloc pour la connexion/déconnexion des utilisateurs -->
              {#<div class="row"> 
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                       <div class="col-sm-offset-9 col-sm-3">
                       Bonjour {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                       </div>
                      {% else %}
                        <div class="col-sm-offset-11 col-sm-1">
                       <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        </div>
                      {% endif %}
               </div>
              #} 
               
               
               <!-- Menu principal du layout -->
                          <div class="navbar ">
                          <div class="navbar-inner">
                              <div class="container">
                                    <ul class="nav nav-pills nav-justified">
                                      <li id="accueil"><a href="/">Accueil</a></li>
                                      <li id="galleries"><a href="{{ path('vm_blog_image_list') }}">Galleries</a></li>
                                      <li id="biographie"><a href="{{ path('vm_blog_biographie') }}">Biographie</a></li>
                                      <li id="commentaires"><a href="{{ path('vm_blog_commentaire_list') }}">Commentaires</a></li>
                                    </ul>
                                </div>
                           </div>
                       </div>                     
             
               <!-- Centre de la page -->    
               <div class="row">    
                       <div class="col-sm-2">
                       
                           
                           <div class="row">
                              {#Bloc latéral gauche#}
                              <div class="span12 well">
                               <br>
                               <div id="monaccordeon">
                                  {% if is_granted('ROLE_ADMIN') %}
                                   <div class="accordion-group">
                                   <button disabled="disabled" id="administration" class="btn btn-sm btn-info accordion-heading" data-toggle="data-no-collapse" data-parent="#monaccordeon" data-target="#administration">Vous êtes administrateur</button>
                                   <div id="administration" class="accordion-body collapse in">
                                     <div class="accordion-inner">  
                                       Vous êtes administrateur, cliquer <a href="{{ path('admin') }}">ici</a>
                                    </div>
                                   </div>
                                 </div>
                                   {% endif %}    
                                  <div class="accordion-group">
                                   <button disabled="disabled" id="presentation" class="btn btn-sm btn-info accordion-heading" data-toggle="data-no-collapse" data-parent="#monaccordeon" data-target="#presentation">Qui suis-je ?</button>
                                   <div id="presentation" class="accordion-body collapse in">
                                     <div class="accordion-inner">  
                                         Auteur : {{ auteur_nom }}
                                         <img src="{{ asset('bundles/vmblog/images/patricemauget.jpg') }}" alt="Patrice mauget" />
                                         
                                    </div>
                                   </div>
                                 </div>
                                 <div class="accordion-group">
                                   <button class="btn btn-sm btn-primary accordion-heading" data-toggle="collapse" data-parent="#monaccordeon" data-target="#coordonnees">Mes coordonnéees</button>
                                   <div id="coordonnees" class="accordion-body collapse ">
                                     <div class="accordion-inner">
                                        <br/><a href="mailto:{{ auteur_email }}">{% trans %}biographie.mail_auteur{% endtrans %}</a>
                                     </div>
                                      </div>     
                                 </div>
                                 <div class="accordion-group">
                                   <button class="btn btn-sm btn-primary accordion-heading" data-toggle="collapse" data-parent="#monaccordeon" data-target="#liens_divers">Mes liens divers</button>
                                   <div id="liens_divers" class="accordion-body collapse">
                                     <div class="accordion-inner">Rajouter des liens sur d'autres sites (mollat,amazon,...)</div>
                                    </div>
                               </div>
                            </div>
                               
                     </div>        
                       </div>
                           
                        <!-- Bloc pour la connexion utilisateur -->
                        
                       
                      </div>
                      
                       <div class="col-sm-offset-1 col-sm-9">
                        {% block body %}
                       {% endblock %}
                       </div>
                       
                       <!--<div class="span1 offset1">
                          Bloc latéral droit
                       </div>-->
                           
                </div>             
                     

                       
                       
                <div class="page-footer">   
                
                    Pied-de-page du site Loup-garou, le monstre du Médoc
                    <p class="pull-right">WEBMESTRE : {{ webmaster_nom ~" - "~ webmaster_email }}</p>
                
               </div>
              
        
            </div>
    
        
         <script language="javascript" type="text/javascript">
 $(document).ready(function() 
 {
   $("a#registre").popover({placement:'bottom',trigger: 'click',html:true, content: function() { return {% render(controller('FOSUserBundle:Registration:register')) %} }, delay: { show: 500, hide: 10} });
    
 });
</script>  
        
                
        
       
    </body>
</html>
