<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Patrice Mauget - Loup-garou, le monstre du Médoc{% endblock %}</title>
      
        {% stylesheets 'bundles/vmblog/css/bootstrap.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />   
            
        {% endstylesheets %}
       {% block javascripts %}
            
            {# pour le routage en ajax #}
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/jquery.js') }}"></script>
                {# pour le rendu dynamique en twitter #}
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/popup.js') }}"></script>          
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
          
    </head>
    <body>
      
        <div class="container">
               <!-- En-tête du layout -->
               <div class="page-header">
                   {#<img class="" id="" src="{{ asset('bundles/vmblog/images/image6.jpg') }}" />#}
                   En-tête du site Loup-garou, le monstre du Médoc
                    
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                       <div id="info_login" class="col-sm-offset-8 col-sm-4">
                      <div class='thumbnail' style='margin-top:-20px;display:inline-table;'>
                          <img width=40 style="float:left;" class="img-rounded" src="{{ asset('bundles/vmuser/photo/'~app.user.photo) }}"/>
                         
                          <div class="input-group-btn" > 
                         <button style="margin-left:-10px;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<span class="caret"></span></button>
                          <ul style="margin-top:30px;" class="dropdown-menu pull-right" id="{{app.user.id}}">
                            <li id="visualiser"><a href="{{path('vm_user_profile')}}">Votre profil</a></li> 
                            <li class="divider"/>
                            <li id="edit"><a href="{{path('vm_user_edit')}}">Modifier</a></li>
                            <li><a href="#" id="supprimer_profil" >Supprimer</a></li>
                            <li><a href="{{ path('logout') }}" id="logout">Déconnexion</a></li>
                          </ul>
                         </div> 
                      
                      </div>
                   
                      
                       </div>
                      {% else %}
                        <div id="bloc_login">
                        {% render(controller('VMUserBundle:Security:login')) %}
                          
                            Nouveau ? Pour vous enregistrer, cliquer <a href="{{path('vm_user_ajout')}}">ici</a>     
                            </div>
                    {% endif %}
                           
               </div>
               
               <!-- Message flash pour les notifications utilisateurs -->       
                 <div id="flashmessage">
                    
                {% for message in app.session.flashbag.get('info') %} 
                 <span class="label label-info">{{ message }}</span>
                {% endfor %}
                
                 {% for message in app.session.flashbag.get('erreur') %} 
                  <span class="label label-warning">{{ message }}</span>
                {% endfor %}
                 </div>
               
               <!-- Menu principal du layout -->
                          <div class="navbar ">
                          <div class="navbar-inner">
                              <div class="container">
                                    <ul class="nav nav-pills nav-justified">
                                      <li id="accueil"><a href="/">Accueil</a></li>
                                      <li id="galleries"><a href="{{ path('vm_blog_image_list') }}" id="galleries1">Galerie</a></li>
                                      <li id="biographie"><a href="{{ path('vm_blog_biographie') }}">Biographie</a></li>
                                      <li id="commentaires"><a href="{{ path('vm_blog_commentaire_list', { tri: 'desc' }) }}">Commentaires</a></li>
                                    </ul>
                                </div>
                           </div>
                       </div>                     
             
               <!-- Centre de la page -->    
               <div class="row">    
                       <div class="col-sm-2">
                       
                           
                           <div class="row">
                              {#Bloc latéral gauche#}
                              <div class="span12 well">
                               <br>
                               <div id="monaccordeon">
                                 {% if is_granted('ROLE_ADMIN') %}
                                   <div class="accordion-group">
                                   <button disabled="disabled" id="administration" class="btn btn-sm btn-info accordion-heading" data-toggle="data-no-collapse" data-parent="#monaccordeon" data-target="#administration">Vous êtes administrateur</button>
                                   <div id="administration" class="accordion-body collapse in">
                                     <div class="accordion-inner">  
                                       Vous êtes administrateur, cliquer <a href="{{ path('admin') }}">ici</a>
                                    </div>
                                   </div>
                                 </div>
                                   {% endif %}    
                                  <div class="accordion-group">
                                   <button disabled="disabled" id="presentation" class="btn btn-sm btn-info accordion-heading" data-toggle="data-no-collapse" data-parent="#monaccordeon" data-target="#presentation">Qui suis-je ?</button>
                                   <div id="presentation" class="accordion-body collapse in">
                                     <div class="accordion-inner">  
                                         Auteur : {{ auteur_nom }}
                                         <img src="{{ asset('bundles/vmblog/images/patricemauget.jpg') }}" alt="Patrice mauget" />
                                         
                                    </div>
                                   </div>
                                 </div>
                                 <div class="accordion-group">
                                   <button class="btn btn-sm btn-primary accordion-heading" data-toggle="collapse" data-parent="#monaccordeon" data-target="#coordonnees">Mes coordonnéees</button>
                                   <div id="coordonnees" class="accordion-body collapse ">
                                     <div class="accordion-inner">
                                        <br/><a href="mailto:{{ auteur_email }}">{% trans %}biographie.mail_auteur{% endtrans %}</a>
                                     </div>
                                      </div>     
                                 </div>
                                 <div class="accordion-group">
                                   <button class="btn btn-sm btn-primary accordion-heading" data-toggle="collapse" data-parent="#monaccordeon" data-target="#liens_divers">Mes liens divers</button>
                                   <div id="liens_divers" class="accordion-body collapse">
                                     <div class="accordion-inner">Rajouter des liens sur d'autres sites (mollat,amazon,...)</div>
                                    </div>
                               </div>
                            </div>
                               
                     </div>        
                       </div>
                           
                        <!-- Bloc pour la connexion utilisateur -->
                        
                       
                      </div>
                      
                       <div class="col-sm-offset-1 col-sm-9">
                         <div id="notes" style="color:red;">
                             Ce site constitue une vitrine pour le livre intitulé Loup-Garou, le monstre du Médoc.
                             Il peut contenir quelques défaillances dans la gestion utilisateurs/commentaires.
                             Je m'applique à rectifier et améliorer le site. Ce message ne sera plus présent une fois le
                             site pleinement fonctionnel.
                         </div>  
                        {% block body %}
                       {% endblock body %}
                        
                      
                       </div>
                       
                       
                       <!--<div class="span1 offset1">
                          Bloc latéral droit
                       </div>-->
                           
                </div>             
                     

                       
                 <!-- Bas de page -->      
                <div class="page-footer">   
                
                    Pied-de-page du site Loup-garou, le monstre du Médoc
                    <p class="pull-right">WEBMESTRE : {{ webmaster_nom ~" - "~ webmaster_email }}</p>
                
               </div>
              
        
            </div>
    
        
                
         <script language="javascript" type="text/javascript">
 $(document).ready(function() 
 {
      
     $("body").on("click", "#supprimer_profil", (function()
          { 
            if (confirm("Souhaitez-vous réellement supprimer votre profil de connexion ? ")) 
            {
                $.ajax({
                   type: "POST",
                   url: Routing.generate('vm_user_supprime'),
                   cache:false,
                   success: function(data)
                   {
                    $("#info_login").fadeOut();
                    location.reload();
                    //document.getElementById('logout').click()
                   }
                 });
             }
             
          }));
  
    
 });
</script>  
        
                
        
       
    </body>
</html>
