<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Patrice Mauget - Monstre du Médoc{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/vmblog/css/bootstrap.css') }}" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
                {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/jquery.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/bootstrap.js') }}"></script>
              {% endblock %}
    </head>
    <body>
           <div class="container">
                <div id="header" class="hero-unit">
                 <h1>En-tête du site Le monstre du Médoc</h1>
                 </div>
               
                 <!--<div class="container">-->
                      <nav class="navbar ">
                          <div class="navbar-inner">
                              <div class="container">
                              <ul class="nav nav-pills nav-justified">
                                <li class="active "><a href="/">Accueil</a></li>
                                <li><a href="">Galleries</a></li>
                                <li><a href="{{ path('vm_blog_biographie') }}">Biographie</a></li>
                              {#<li><a href="{{ path('vm_blog_commentaire_list') }}">Commentaires</a></li>#}
                                <li><a href="{{ path('vm_blog_com_list') }}">Commentaires</a></li>
                              </ul>
                                      </div>
                           </div>
                       </nav>                     
                          
                     <div id="content" class="span9">
                        {% block body %}
                        {% endblock %}
                     </div>
                     
                <div id="footer" class="hero-unit">
                    <h1>Pied-de-page du site Le monstre du Médoc</h1>
                    <h3>WEBMESTRE : {{ webmaster_nom ~" - "~ webmaster_email }}</h3>
                </div>  
                 <!--</div>-->
              
        
            </div>
             
               
                
                
       
    </body>
</html>
