<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Patrice Mauget - Loup-Garou, le monstre du Médoc{% endblock %}</title>
      
        {% stylesheets filter='cssrewrite, yui_css'
                '@VMBlogBundle/Resources/public/css/bootstrap.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />   
        {% endstylesheets %}
       
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
          
    </head>
    <body>
      
        <div class="container">
               <!-- En-tête du layout -->
               <div class="page-header well" style="margin-bottom:55px;margin-top:0px;margin-left:-10px;">{#background-image: url('{{ asset('/image/banniere_haut.jpg')}}');#}
                   {#<img class="" id="" src="{{ asset('bundles/vmblog/images/image6.jpg') }}" />#}
                   <!--En-tête du site Loup-garou, le monstre du Médoc-->
                 
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                       
                        <div id="info_login" class="col-sm-offset-8 col-sm-4">
                      <div class='thumbnail media' style='margin-top:-20px;display:inline-table;'>
                                                                
                        <img width=40 style="float:left;" class="img-rounded media-object" src="/{{ app.user.photoPath}}" />
                          <div class="media-body">    Bonjour {{ app.user.username }}  </div>
                          <div class="input-group-btn" > 
                         <button style="margin-left:-10px;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Gestion<span class="caret"></span></button>
                          <ul style="margin-top:-5px;" class="dropdown-menu pull-right" id="{{app.user.id}}">
                            <li id="visualiser"><a href="{{path('vm_user_profile')}}">Votre profil</a></li> 
                            <li class="divider"/>
                            <li id="edit"><a href="{{path('vm_user_edit')}}">Modifier</a></li>
                            <li><a href="#" id="supprimer_profil" >Supprimer</a></li>
                            <li><a href="{{ path('logout') }}" id="logout">Déconnexion</a></li>
                          </ul>
                         </div> 
                             
                         
                      </div>
                   
                      
                       </div>
                      {% else %}
                        <div id="bloc_login">
                            
                        {% render(controller('VMUserBundle:Security:login')) %}
                          
                            Nouveau ? Pour vous enregistrer, cliquer <a href="{{path('vm_user_ajout')}}">ici</a>     
                            </div>
                    {% endif %}
                         
               </div>
               
               <!-- Message flash pour les notifications utilisateurs -->       
                 <div id="flashmessage">
                    
                {% for message in app.session.flashbag.get('info') %} 
                 <span class="label label-info">{{ message }}</span>
                {% endfor %}
                
                 {% for message in app.session.flashbag.get('erreur') %} 
                  <span class="label label-warning">{{ message }}</span>
                {% endfor %}
                 </div>
               
                   <div class="well">
                                <p id="notes" class="text-warning">
                                 Ce site constitue une vitrine pour le livre de Patrice Mauget intitulé Loup-Garou, le monstre du Médoc.
                                 En phase d'évolution, ce site présente des problèmes d'affichage sur Internet Explorer.
                                 Il est donc conseillé d'utiliser le navigateur Firefox.
                                </p> 
                             </div>
               <!-- Menu principal du layout -->
                          <div class="navbar ">
                          <div class="navbar-inner">
                              <div class="container">
                                    <ul class="nav nav-pills nav-justified">
                                      <li id="accueil"><a href="/">Accueil</a></li>
                                      <li id="galleries"><a href="{{ path('vm_blog_image_list') }}" id="galleries1">Galerie</a></li>
                                      <li id="biographie"><a href="{{ path('vm_blog_biographie') }}">Biographie</a></li>
                                      <li id="commentaires"><a href="{{ path('vm_blog_commentaire_list', { tri: 'desc' }) }}">Commentaires</a></li>
                                    </ul>
                                </div>
                           </div>
                       </div>                     
             
               <!-- Centre de la page -->    
               <div class="row">    
                       <div class="col-sm-2">
                       
                           
                           <div class="row">
                              {#Bloc latéral gauche#}
                              <div class="">
                               <br>
                               
                               
                               <div class="panel panel-info"> 
                                 <div class="panel-heading">
                                        <span class="btn btn-sm btn-info" disabled="disabled"> 
                                            Auteur : {{ auteur_nom }}</span>
                                 
                                 
                                 </div>
                                 <div class="panel-body">  
                                     <img height=160px; style="width: 80%;display: block;margin: 0 auto; " src="{{ asset('bundles/vmblog/images/patricemauget.jpg') }}" alt="Patrice Mauget - Ecrivain Loup Garou" />
                                        <hr/>
                                <div id="monaccordeon" style="text-align:justify;"  >
                                    {#        <div class="accordion-group">
                                   <button disabled="disabled" id="presentation" class="btn btn-sm btn-info accordion-heading" data-toggle="data-no-collapse" data-parent="#monaccordeon" data-target="#presentation">Qui suis-je ?</button>
                                   <div id="presentation" class="accordion-body collapse in">
                                     <div class="accordion-inner">  
                                         Auteur : {{ auteur_nom }}
                                         {#{% image '@VMBlogBundle/Resources/public/images/patricemauget.jpg' 
                                                filter='jpegoptim' output='/images/patricemauget.jpg' %}
                                            <img src="{{ asset_url }}" alt="Patrice Mauget - Ecrivain Loup Garou"/>
                                         {% endimage %}#}
                                    {#  <img style="width:auto;" src="{{ asset('bundles/vmblog/images/patricemauget.jpg') }}" alt="Patrice Mauget - Ecrivain Loup Garou" />
                                 </div>
                                   </div>
                                 </div> #} 


                                {% if is_granted('ROLE_ADMIN') %}
                                   <div class="accordion-group">
                                   <button disabled="disabled" id="administration" class="btn btn-sm btn-info accordion-heading" data-toggle="data-no-collapse" data-parent="#monaccordeon" data-target="#administration">Vous êtes administrateur</button>
                                   <div id="administration" class="accordion-body collapse in">
                                     <div class="accordion-inner">  
                                       Vous êtes administrateur, cliquer <a href="{{ path('admin') }}">ici</a>
                                    </div>
                                   </div>
                                 </div>
                                   {% endif %}    
                        
                                 <div class="accordion-group">
                                   <button class="btn btn-sm btn-info accordion-heading" data-toggle="collapse" data-parent="#monaccordeon" data-target="#coordonnees">Mes coordonnéees</button>
                                   <div id="coordonnees" class="accordion-body collapse ">
                                     <div class="accordion-inner">
                                        <br/><a href="mailto:{{ auteur_email }}">{% trans %}biographie.mail_auteur{% endtrans %}</a>
                                     </div>
                                      </div>     
                                 </div>
                                 <div class="accordion-group">
                                   <button class="btn btn-sm btn-info accordion-heading" data-toggle="collapse" data-parent="#monaccordeon" data-target="#liens_divers">Mes liens divers</button>
                                   <div id="liens_divers" class="accordion-body collapse">
                                     <div class="accordion-inner">
                                         <p><a 
                                          href="http://www.editions-pantheon.fr/patrice-mauget/poemes/pluie-de-vers.html"
                                          target="_blank" >
                                           Pluie de vers       
                                         </a></p>
                                         
                                         <p><a 
                                          href="http://www.priceminister.com/offer/buy/188922655/la-genese-interdite-de-patrice-mauget.html"
                                          target="_blank" >
                                           La Genèse Interdite       
                                         </a></p>
                                         
                                         <p>Liens divers</p>
                                     </div>
                                   </div>
                               </div>
                            </div>
                            </div>                
                               </div>
                     </div>        
                       </div>
                           
                        <!-- Bloc pour la connexion utilisateur -->
                        
                       
                      </div>
                      
                       <div class="col-sm-offset-1 col-sm-9">
                         
                           
                          
                        {% block body %}
                       {% endblock body %}
                        
                      
                       </div>
                       
                       
                       <!--<div class="span1 offset1">
                          Bloc latéral droit
                       </div>-->
                           
                </div>             
                     

                       
                 <!-- Bas de page -->      
                <div class="well" style="height:60px;margin-left:-10px;">   
                
                   {#Pied-de-page du site Loup-garou, le monstre du Médoc#}
                    <p class="text-info pull-right">WEBMESTRE : {{ webmaster_nom }}</p>
                    <p class="text-info ">Pour toute anomalie, contactez-moi <a href="mailto:{{ webmaster_email }}">{{ webmaster_email }}</a></p>
               </div>
              
        
            </div>
    
         {% block javascripts %}
               
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="{{ asset('bundles/vmblog/js/jquery.js') }}"></script>
            
         
             <script language="javascript" type="text/javascript">
                (function($) 
                {

                    $("body").on("click", "#supprimer_profil", (function()
                         { 
                           if (confirm("Souhaitez-vous réellement supprimer votre profil de connexion ? ")) 
                           {
                               $.ajax({
                                  type: "POST",
                                  url: Routing.generate('vm_user_supprime'),
                                  cache:false,
                                  success: function(data)
                                  {
                                   $("#info_login").fadeOut();
                                   location.reload();
                                   //document.getElementById('logout').click()
                                  }
                                });
                            }

                         }));


                }(jQuery));
             </script>

            {% javascripts '@VMBlogBundle/Resources/public/js/bootstrap.min.js'
                        '@VMBlogBundle/Resources/public/js/popup.js'
                         filter='yui_js'
                        %}
                           <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}   
            
            
                        
            {% endblock javascripts %}


        
                
        
       
    </body>
</html>
