<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Patrice Mauget - Monstre du Médoc{% endblock %}</title>
        {% block stylesheets %}
            {#<link rel="stylesheet" href="{{ asset('bundles/vmblog/css/bootstrap.css') }}" type="text/css" />#}
             <link rel="stylesheet" href="{{ asset('bundles/vmblog/css/bootstrap.min.css') }}" type="text/css" media="screen" />
             
        {% endblock %}
        {% block javascripts %}
                {# pour le routage en ajax #}
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/jquery.js') }}"></script>
                {# pour le rendu dynamique en twitter #}
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/vmblog/js/popup.js') }}"></script>          
        {% endblock %}  
             <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
          
    </head>
    <body>
      
        <div class="container-fluid">
               <!-- En-tête du layout -->
               <div class="page-header">
                   {#<img class="" id="" src="{{ asset('bundles/vmblog/images/image6.jpg') }}" />#}
                   En-tête du site Le monstre du Médoc
               </div>
                          
               <!-- Menu principal du layout -->
                          <div class="navbar ">
                          <div class="navbar-inner">
                              <div class="container">
                                    <ul class="nav nav-pills nav-justified">
                                      <li class="active "><a href="/">Accueil</a></li>
                                      <li><a href="{{ path('vm_blog_image_list') }}">Galleries</a></li>
                                      <li><a href="{{ path('vm_blog_biographie') }}">Biographie</a></li>
                                      <li><a href="{{ path('vm_blog_commentaire_list') }}">Commentaires</a></li>
                                    </ul>
                                </div>
                           </div>
                       </div>                     
             
               <!-- Centre de la page -->    
               <div class="row-fluid">    
                   <div class="span2 offset1">
                          {# Génère aléatoirement un extrait du livre#}
                           {{ render(controller("VMBlogBundle:Extrait:index")) }} {#Bloc latéral gauche#}
                       </div>
                      
                       <div class="span9">
                        {% block body %}
                       {% endblock %}
                       </div>
                       
                       <!--<div class="span1 offset1">
                          Bloc latéral droit
                       </div>-->
                           
                </div>             
                     

                       
                       
                <div class="page-footer">   
                
                    Pied-de-page du site Le monstre du Médoc
                    <p class="pull-right">WEBMESTRE : {{ webmaster_nom ~" - "~ webmaster_email }}</p>
                
               </div>
              
        
            </div>
             
               
                
        
       
    </body>
</html>
