{% extends "VMBlogBundle::base.html.twig" %}

{% block vmblog_body %}

 {% if images is not empty %}
    
    {% block vmblog_stylesheet %}
{{ parent() }}
    {#{% stylesheets filter='cssrewrite, yui_css' 
                '@VMBlogBundle/Resources/public/css/image.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />   
     {% endstylesheets %}#}
            <link rel="stylesheet" href="{{ asset('bundles/vmblog/css/image.css') }}" type="text/css" /> 
     
{%endblock vmblog_stylesheet %}
 {# Tableau general des images #}
{#<table id="" class="table table-striped">
        <caption>GALERIE</caption>
        <tbody>
        <tr>
    {% for key, image in images %}#}
       {# <td><img style="cursor: pointer;border: 2px solid {{ cycle(['blue','green'],loop.index0)}}" 
                 class="" id="{{ image.description }}" src="{{ asset('bundles/vmblog/images/'~image.url) }}" 
                 rel="popover" alt="{{ image.alt}}" title="{{ image.alt}}" /></td>
        {# le tableau comporte 4 colonnes #}
     {#   {% if loop.index % 6 == 0 %}</tr><tr>{% endif %}    
    {% endfor %}
    </tbody></table>#}


<ul id="galerie"> 
    {% for key, image in images %}
    <li>
        <a href="#">
            <img src="{{ asset('bundles/vmblog/images/'~image.url) }}" alt="" /> 
            <strong>{{ image.description }}</strong>
        </a> 
    </li> 
    {% endfor %}
</ul>

{% else %}

Il n'y a aucune image dans la galerie

{% endif %}




<!--</script>-->


{% endblock vmblog_body%}                

{#{% block javascripts %}
   {{ parent() }}
<script language="javascript" type="text/javascript">
(function($) 
 {
   
   $("ul.nav > li#galleries").addClass('active');
   $("img").popover({placement:'left',trigger: 'hover',html:true, content: function() { 
    return "<img class='img-rounded' width=250 src='"+$(this).attr('src')+"' /><div>"+$(this).attr('id')+"</div>"; },
    delay: { show: 500, hide: 10} });
 }(jQuery));
 </script>
 {%endblock javascripts %}#}

