{% extends "VMBlogBundle::base.html.twig" %}

{% block vmblog_body %}
 
    {#<img src="{{ asset('bundles/vmblog/images/patricemauget.jpg') }}" alt="photo patrice mauget" />#}
    {#Auteur : {{ auteur_nom }}#} <br/>
    
    <ul class="nav nav-tabs">
        <li class="active"><a href="#parcours" data-toggle="tab">Mon parcours</a></li>
        <li><a href="#livres" data-toggle="tab">Mes livres</a></li>
    </ul>
    
    <div class="tab-content">
       <div class="tab-pane active" id="parcours">
            {% trans %}biographie.vie_auteur{% endtrans %}
       </div>
       <div class="tab-pane" id="livres">
            
            {% for key, livre in livres_secondaires %}
                   <div class="clearfix">
                        <div id="couverture" style="width:80px;" class="thumbnail pull-left">
                                <img title="{{livre.titre}}" width=100 style="cursor: pointer;" rel="popover" 
                                 src="{{ asset('bundles/vmblog/images/'~livre.couverture) }}" alt="photo {{ livre.titre }}" />
                       </div>
                       
                         <div style="">EDITION :       {{livre.edition }}    </div>
                         <div style="">LIEN INTERNET :      <a href="{{livre.url }}" target="_blank">{{livre.url }} </a>   </div>
                     </div>               
            {% endfor %} 
                 
       </div>
    </div>

      
    <br/>

  
 
{% endblock vmblog_body %}


   {% block javascripts %}
{{ parent() }} 
    <script language="javascript" type="text/javascript"> 
 (function($) { 
    $("ul.nav > li#accueil").removeClass('active');  
   $("ul.nav > li#biographie").addClass('active');
   $("img").popover({trigger: 'hover',html:true, content: function() { var couverture=$(this).attr('src');
           return "<img class='img-rounded' width=150 src='"+couverture+"' />"; },
            delay: { show: 500, hide: 10} });
}(jQuery));
</script>

{% endblock javascripts %}