{% extends "VMBlogBundle::base.html.twig" %}

{% block vmblog_stylesheets %}
    


   
{% endblock %}
    
{% block vmblog_body %}
      {# insère la barre complète avec les valeurs par défaut #}
  {{ socialButtons() }}
   <br/>
   {#{{ livre.titre }}<br/>#}
   <p style="clear:both;text-indent:50px;text-align: justify;">{{ livre.resume }}</p>
   
   <hr/>
   EXTRAIT (AU HASARD)
   {{ render(controller("VMBlogBundle:Extrait:index")) }} 
 
   {% if document is defined %}
    
   {# Affichage du document Pdf #}
   <span class="pull-right">
          
       <i class="icon-large icon-file"></i>
       <a href="{{asset('bundles/vmblog/document/'~document.url)}}" target="_blank">
         {{ document.libelle }}
       </a>
       
   </span>
   {% endif %}
 
{% endblock vmblog_body %}

    {% block javascripts %}  
 {{ parent() }}
   <script language="javascript" type="text/javascript">
 (function($) 
 {
   
    $("ul.nav > li#accueil").addClass('active');  
   }(jQuery));
</script>  
  {% endblock javascripts %}