{% extends "VMBlogBundle::base.html.twig" %}

{% block vmblog_stylesheets %}
    


   
{% endblock %}
    
{% block vmblog_body %}
   
        <div id="flashmessage">
        {% for message in app.session.flashbag.get('info') %}
                <div class="alert">
                {{ message }}
                </div> 
        {% endfor %}        
        </div>


   {# insère la barre complète avec les valeurs par défaut #}
  {{ socialButtons() }}
   <br/>
   {{ livre.titre }}<br/>
   {{ livre.resume }}
   
   <hr/>
   EXTRAIT (AU HASARD)
   {{ render(controller("VMBlogBundle:Extrait:index")) }} 
 
   
 <script language="javascript" type="text/javascript">
 $(document).ready(function() 
 {
    $("ul.nav > li#accueil").addClass('active');  
   });
</script>  
  
   
 
{% endblock %}
